.container {
    height: 900px;
}

h1 {
    color: #2E2858;
    margin-bottom: 20px;
}

.our-journey {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    border-bottom: 1px solid #000;
    padding: 0 20px;
    margin-right: 20px;
    margin-left: 20px;
    height: 18%;
}

.our-journey > * {
    flex: 0 0 10%; /* Đặt chiều rộng cố định là 150px */
}

.concept {
    margin-top: 20px;
    font-family: Roboto, sans-serif;
    font-size: 14px;
    max-height: 240px;
    max-width: 150px;
}

.years {
    cursor: pointer;
    transition: color 0.5s;
    margin-top: 10px;
}

.years:hover {
    cursor: pointer;
    color: #2E2858;
    animation: scaleUp 0.5s ease forwards;
    /* max-width: 150px */
}

.note {
    max-width: 150px;
}

.note-hidden {
    display: none;
}

@keyframes scaleUp {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(1.1);
    }
}