.container {
    margin-top: 100px;
    --tw-bg-opacity: 1;
    background-color: rgb(235 243 255/var(--tw-bg-opacity));
    padding-top: 5%;
}

.container label {
    font-size: 150%;
    margin-right: 2%;
}

.container input {
    border: 3px solid #ced4da;
    //margin-bottom: 1.5%;
    width: 30%;
    height: 5%;
    border-radius: 40px;
    padding: 10px;
    padding-left: 30px;
    margin-right: 2%;
}

.container .orderCodeBtn {
    /* Các thuộc tính khác nếu cần thiết */
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

