.container {
    --tw-bg-opacity: 1;
    font-size: 24px;
    font-family: Roboto, sans-serif;
    font-weight: bold;
    margin-top: 2%;
    margin-bottom: 2%;
    position: relative;
}

.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 0;
}

form {
    display: flex;
    flex-direction: column;
    width: 100%;
}

form div {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 5%;
}

form div:last-child {
    margin-bottom: 1%;
}

form div .labelName {
    width: 10%;
    margin-right: 2%;
    margin-left: 13%;
}

form div input {
    margin-top: 1.5%;
    font-size: 18px !important;
    padding: 8px;
    width: 40%;
    height: 50px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 16px !important;
    position: relative;
}

.error {
    font-size: 18px;
    color: #FF0000;
    position: absolute;
    left: 65%;
    margin-top: 1.2%;
}

.error-hidden {
    position: absolute;
    visibility: hidden;
}

.accept {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 5%;
}

.add-account {
    width: 250px;
    border: 3px solid #000;
    border-radius: 16px;
    cursor: pointer;
    background-color: #4CAF50;
    padding: 10px 20px;
    height: 10%;
    font-size: 24px;
    font-family: Roboto, sans-serif;
    font-weight: bold;
    color: white;
}

.add-account:hover {
    animation: scaleUp 0.5s ease forwards;
    background-color: #45a049;
    cursor: pointer;
}

.add-account:not(:hover) {
    animation: scaleDown 0.5s ease forwards;
}

.back-button {
    color: white;
    width: 250px;
    border: 3px solid #000;
    border-radius: 16px;
    cursor: pointer;
    background-color: #3498db;
    padding: 10px 20px;
    height: 10%;
    font-size: 24px;
    font-family: Roboto, sans-serif;
    font-weight: bold;
}

.back-button:hover {
    animation: scaleUp 0.5s ease forwards;
    background-color: #2980b9;
    cursor: pointer;
}

.back-button:not(:hover) {
    animation: scaleDown 0.5s ease forwards;
}

.alert {
    z-index: 1000;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

@keyframes stroke {
    100% {
        stroke-dashoffset: 0
    }
}

@keyframes scale {

    0%,
    100% {
        transform: none
    }

    50% {
        transform: scale3d(1.1, 1.1, 1)
    }
}

@keyframes fill {
    100% {
        box-shadow: inset 0px 0px 0px 30px #7ac142
    }
}

@keyframes scaleUp {
    0% {
        transform: scale(1);
    }

    100% {
        transform: scale(1.1);
    }
}

@keyframes scaleDown {
    0% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(1.0);
    }
}

@keyframes test {
    0% {
        display: flex;
    }

    99% {
        display: flex;
    }

    100% {
        display: none;
    }
}

@media screen and (min-width: 876px) {
    .error {
        left: 65%;
    }

    form div input {
        width: 38%;
        margin-left: 10px;
    }
}

@media screen and (max-width: 876px) {
    .container {
        font-size: 18px;
    }

    .error {
        font-size: 16px;
        left: 64%;
    }

    form div input {
        width: 38%;
        margin-left: 5px;
        height: 40px;
        font-size: 18px;
    }

    .add-account {
        padding: 8px 16px;
        height: 10%;
        font-size: 18px;
    }
}

@media screen and (max-width: 768px) {
    .container {
        font-size: 16px;
    }

    .error {
        font-size: 15px;
        left: 62%;
    }

    form div input {
        margin-left: 5px;
        width: 36%;
        height: 40px;
        font-size: 16px !important;
    }

    .add-account {
        padding: 7px 14px;
        height: 9%;
        font-size: 16px;
    }
}

@media screen and (max-width: 678px) {
    .container {
        font-size: 14px;
    }

    .error {
        font-size: 13px;
        left: 60%;
    }

    form div input {
        margin-left: 5px;
        width: 34%;
        height: 40px;
        font-size: 14px !important;
    }

    .add-account {
        padding: 6px 12px;
        height: 8%;
        font-size: 14px;
    }
}

@media screen and (max-width: 562px) {
    .container {
        font-size: 12px;
    }

    .error {
        font-size: 11px;
        left: 60%;
    }

    form div input {
        margin-left: 3px;
        width: 34%;
        height: 34px;
        font-size: 12px !important;
    }

    .add-account {
        padding: 6px 12px;
        height: 8%;
        font-size: 12px;
    }
}
