.manage-account-employee {
    
}

.manage-account-employee-hidden {
    display: none !important;
}

.statistic-orders-sent {

}

.statistic-orders-sent-hidden {
    display: none !important;
}

.statistic-orders-received {

}

.statistic-orders-received-hidden {
    display: none !important;
}