.container {
  background-color: #D9D9D9;
  margin-left: auto;
  margin-right: auto;
  color: #FFFFFF;
  font-size: 24px;
  font-family: Roboto, sans-serif;
  font-weight: bold;
  width: 80%;
  border-radius: 60px;
  display: flex;
}

.sub-container {
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: left;
  background-color: #3D4FD2;
  border-radius: 50px;
  margin-left: auto;
  margin-right: auto;
  width: 85%;
  display: flex;
  justify-content: space-around;
}

.sub-container:hover {
  cursor: pointer;
  animation: scaleUp 0.5s ease forwards;
}

.sub-container:not(:hover) {
  animation: scaleDown 0.5s ease forwards;
}

.account-container {
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 5%;
}

.account-container div {
  margin-top: 10px;
  margin-bottom: 10px;
}

.btns-container {
  display: flex;
  align-items: center;
  margin-left: 53%;
  margin-right: 1%;
}

#delete {
  background-color: #FF0000;
  padding: 24px;
  border-radius: 24px;
}

#delete:hover {
  background-color: rgb(226, 0, 0);
}

#modify {
  background-color: #57A4FF;
  padding: 24px;
  border-radius: 24px;
}

#modify:hover {
  background-color: #3C94FF;
}

.confirmDeleteGatherContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  z-index: 100;
  position: fixed;
  background-color: rgba(56, 145, 255, 0.3);
  top: 0;
  left: 0;
  overflow-y: hidden;
}

.hidden {
  animation: outHidden 0.5s ease forwards;
}

.hideAll {
  display: none;
}

.contentCF {
  background-color: #fff;
  width: 50%;
  padding: 60px;
  border-radius: 60px;
}

.contentCF p {
  color: red;
  margin-bottom: 60px;
}

.confirmBtns {
  display: flex;
  justify-content: space-around;
}

.yesBtn {
  background-color: #57a4ff;
  padding: 12px 24px;
  font-size: 18px;
  border-radius: 24px;
  min-width: 100px;
  color: #000;
}

.yesBtn:hover {
  background-color: #0073ff;
  cursor: pointer;
  color: #fff;
}

.noBtn {
  background-color: rgb(255, 81, 37);
  padding: 12px 24px;
  font-size: 18px;
  border-radius: 24px;
  min-width: 100px;
  color: #000;
}

.noBtn:hover {
  background-color: rgb(255, 51, 0);
  cursor: pointer;
  color: #fff;
}

@keyframes outHidden {
  0% {
    opacity: 1;
  }

  99% {
    opacity: 0;
  }

  100% {
    display: none;
  }
}

@keyframes scaleUp {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(1.1);
  }
}

@keyframes scaleDown {
  0% {
    transform: scale(1.1);
  }

  100% {
    transform: scale(1.0);
  }
}

@media screen and (max-width: 768px) {
  .container {
    font-size: 20px;
  }
}

@media screen and (max-width: 678px) {
  .container {
    font-size: 18px;
  }
}

@media screen and (max-width: 562px) {
  .container {
    font-size: 16px;
  }
}