#navBarContainer {
    width: 100%;
    height: 56px;
    display: flex;
    flex-direction: row;
    font-size: 16px;
    justify-content: space-around;
    text-align: center;
    align-items: center;
    position: fixed;
    z-index: 10;
    background-color: white;
    padding: 12px;
    top: 0px;
}

.logo {
    display: flex;
    height: 56px;
    margin-left: 16px;
}

.subNavContainer {
    display: flex;
    flex-direction: row;
}

.subNavContainer > div {
    position: relative;
    padding: 0px 36px;
    text-wrap: nowrap;
    justify-content: center; 
    align-items: center; 
}

.subNavContainer > div > a:hover {
    color: black;
}



.subNavContainer > div > ul {
    // display: flex; // sau chuyển sang flex
    display: none;
    flex-direction: column;
    position: absolute;
    top: 20px;
    list-style: none;
    padding: 0px;
    margin: 0;
    justify-content: center; 
    align-items: center;
    z-index: 11;
    background-color: white;
}

.subNavContainer > div:nth-child(2):hover ul {
    display: flex;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 8px 20px 0 rgba(0, 0, 0, 0.19);
    
}

.subNavContainer > div > ul > li {
    position: relative;
    text-align: left;
    list-style: none;
    padding: 8px 40px;
    justify-content: center;
    align-items: center;
    box-shadow: 10px #888888;
}

.subNavContainer > div > ul > li:hover {
    background-color: gray;
}

.subNavContainer > div > ul > li:hover a {
    color: #fff;
}

.subNavContainer > div > ul > li:first-child {
    border-bottom: solid 1px #333;
}

.subNavContainer > div a {
    text-decoration: none;
    color: #4A7493;
}

.rolesBtns {
    display: flex;
    justify-content: space-between;
}

.rolesBtns a {
    text-decoration: none;
    color: #3D4FD2;
}

.rolesBtns div:hover {
    background-color: #3D4FD2;
}

.rolesBtns div:hover a {
    color: #fff;
}

.forCustomers {
    margin: 0px 8px;
    border: solid #3D4FD2 1px;
    border-radius: 24px;
    padding: 8px 16px;
}

.forEmployees {
    margin: 0px 8px;
    border: solid #3D4FD2 1px;
    border-radius: 24px;
    padding: 8px 16px;
}
