.employeeListContainer {
    background-color: #D9D9D9;
    padding: 60px;
    border-radius: 60px;
    width: 100%;
    text-decoration: none;
}

.functionContainer {
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
    justify-content: space-around;
}

.searchBar {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    border-radius: 40px;
    padding: 0 20px;
}

.searchBar i {
    font-size: 36px;
    font-weight: bold;
    padding: 12px;
    border-right: solid 1px #333;
    
}

.searchBar i:hover {
    cursor: pointer;
    color: #4b4b4b;
}

.searchBar input {
    font-size: 24px;
    border: none;
    outline: none;
    box-shadow: none;
    margin-left: 24px;
    font-weight: normal;
    min-width: 500px;
    :focus {
        outline: none;
        box-shadow: none;
    }
}