.transaction-manager-form-create-account {
    
}

.transaction-manager-form-create-account-hidden {
    display: none;
}

.statistic-orders-sent {

}

.statistic-orders-sent-hidden {
    display: none !important;
}

.statistic-orders-received {

}

.statistic-orders-received-hidden {
    display: none !important;
}