.infoContainer {
    background-color: green;
    width: 100%;
    padding: 20px;
    margin-top: 60px;
}

.colsContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.subCol {
    display: flex;
    flex-direction: row;
}

.subCol:first-child {
    margin-bottom: 12px;
}

.imgIcon {
    width: 40px;
    margin-right: 20px;
    padding: 8px 0px;
    
}

.info {
    border-left: 1px solid black;
    padding-left: 20px;
}

.info h2 {
    font-size: 30px;
}

.info p {
    font-size: 16px;
}