.orderContainer {
    background-color: #3D4FD2;
    display: flex;
    flex-direction: column;
    padding: 20px;
    padding-left: 40px;
    border-radius: 50px;
    justify-content: space-between;
    margin: 20px;
    text-decoration: none;
}

.orderContainer:hover {
    background-color: #4b5de8;
    cursor: pointer;
    animation: scaleUp 0.5s ease forwards;
}

.orderContainer:not(:hover) {
    animation: scaleDown 0.5s ease forwards;
}

.orderInfo {
    color: white;
    font-size: 16px;
    text-align: left;
}

.orderInfo > div {
    margin-bottom: 4px;
}

.orderInfo label {
    font-weight: bold;
}

.customersInfo {
    display: flex;
    flex-direction: row;
}

.senderInfo {
    flex: 1;
    color: white;
    font-size: 16px;
    text-align: left;
}

.senderInfo > div {
    margin-bottom: 4px;
}

.receiverInfo {
    flex: 1;
    color: white;
    font-size: 16px;
    text-align: left;
}

.receiverInfo > div {
    margin-bottom: 4px;
}

@keyframes scaleUp {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(1.1);
    }
}

@keyframes scaleDown {
    0% {
      transform: scale(1.1);
    }
    100% {
      transform: scale(1.0);
    }
}