.infoContainer {
    background-color: #D9D9D9;
    padding: 60px;
    border-radius: 60px;
    width: 80%;
    text-decoration: none;
    display: flex;
    font-size: 24px;
    text-align: left;
    margin: 0 auto;
    margin-bottom: 40px

 }

.pointInfoContainer {
    flex: 1;
}

.managerInfoContainer {
    flex: 1;
}