.content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.manageForTransactionManagerNav {
    width: 90%;
    background-color: #4b5de8;
    margin-bottom: 40px;
    font-size: 24px;
    display: flex;
    flex-direction: row;
    border-radius: 40px;
    color: #fff;
}

.createAccount {
    flex: 1;
    padding: 12px;
}

.createAccount:hover {
    cursor: pointer;
    background-color: #99a5ff;
    color: #333;
    border-top-left-radius: 40px;
    border-bottom-left-radius: 40px;
}

.statisticSent {
    flex: 1;
    padding: 12px;
}

.statisticSent:hover {
    cursor: pointer;
    background-color: #99a5ff;
    color: #333;
}

.statisticReceived {
    flex: 1;
    padding: 12px;
}

.statisticReceived:hover {
    cursor: pointer;
    background-color: #99a5ff;
    color: #333;
    border-top-right-radius: 40px;
    border-bottom-right-radius: 40px;
}